<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>MySQL Query Results</title>
</head>
<body>
  <table>
    <thead>
      <tr>
        {% for header in headers %}
          <th>{{ header }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for row in result_set %}
        <tr>
          {% for value in row %}
            <td>{{ value }}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
</body>
</html>
